---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Chi sono",
	description: "Qualche info utile per capire chi sono",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Ciao sono Luca 👋</h1>
		<p>
      Nerd classe '93. Credo di aver cominciato veramente con una PS1 di seconda mano. Nel mentre sono arrivati i grandi libroni fantasy e Magic.
      Poi é stato tutto in diescesa.
    </p>
		<p>
      Dal 2022 arrampico con costanza, principalmente boulder.
    </p>
		<p>Alcune cose che ho in programma di fare:</p>
		<ul class="list-inside list-disc">
			<li>Giocare a D&D 5E (Historia)</li>
			<li>Giocare a Blades in the dark</li>
			<li>Giocare a Cairn</li>
			<li>Finire un libro al mese</li>
			<li>Recensire una serie ogni tanto</li>
			<li>Guardare un sacco di film anni 80/90</li>
		</ul>
	</div>
</PageLayout>
